/* h1 {
    color: #a2d2ff;
    border: 5px solid black;
    /* padding: 40px; */
    /* text-shadow: 5px 5px 10px #bde0fe;
    font-family: 'Roboto', sans-serif;
 } */
/* p {
    color: blue;
    font-size: 100%;
    background-color: cyan;
    border: 5px solid green; */
    /* padding: 40px; */
    /* margin: 100px; */
/* }    */ */
*{
    box-sizing: border-box;
  }
.background{
    margin:0;
    height:auto;
    background-color:#82c0ff;
    padding: 50px;
    /* display: flex; */
    justify-content: space-between;
}
h1{
    /* font-size: 40px;
    line-height: 64px; */
    color: rgb(253, 253, 253);
}
h4{
    color: rgb(253, 253, 253);
}
