*, html, body {
    margin:0;
    padding:0;
    font-family:Tahoma, Geneva, sans-serif;
}

header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

section{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background-color: #f1faee;
    padding-top: 30px;
    padding-bottom: 30px;
}

section > aside{
    margin-top: -100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    padding: 10px;
    position: relative;
}

section > iframe{
    padding-top: 30px;
}

section > article{
    margin-top: -50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-between;  
}

footer > div > div{
    margin: 30px;
}

.Ataskiri{
    height: auto;
    padding-left: 50px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.Ataskanan{
    padding-right: 50px;
    display: flex;
    align-items: center;
    margin-left:10px;
}

.logo{
    height: 200px;
    text-align: center;
    background-color: black;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.navigation > li {
    list-style-type: none;
    padding-right: 30px;
}

.navigation > li > a{
    text-decoration: none;
    color: rgb(211, 159, 63);
}

.search-box input[type=search]{
    margin-left: 300px;
    border: 1px rgb(211, 159, 63) solid;
    background-color: black;
    color:rgb(211, 159, 63);
}

.footerkiri{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-left: 30px;
}

.footerkanan{
    text-align: right;
    margin-right: 30px;
}
