article {
    padding-top: 15px;
    padding-left: 30px;
    width: 500px;
    height: 800px;
    background-color: grey;
    margin: auto;
}

article > nav{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    text-align: center;
}